[submodule "cudf"]
	path = cudf
	url = https://github.com/rapidsai/cudf
[submodule "cuml"]
	path = cuml
	url = https://github.com/rapidsai/cuml
[submodule "cugraph"]
	path = cugraph
	url = https://github.com/rapidsai/cugraph
[submodule "xgboost"]
	path = xgboost
	url = https://github.com/rapidsai/xgboost
[submodule "dask-cudf"]
	path = dask-cudf
	url = https://github.com/rapidsai/dask-cudf
[submodule "dask-xgboost"]
	path = dask-xgboost
	url = https://github.com/rapidsai/dask-xgboost
[submodule "notebooks"]
	path = notebooks
	url = https://github.com/rapidsai/notebooks
